.background__cover{
    height: 100vh;
  background-image:  url(../image/starynight.jpg);
    
    
    //background-size: cover;
    background-size: cover;
    
    
    background-repeat: no-repeat;
}

.background__slide {
    
    background-image:  url(../image/starynight.jpg);
    
    
    //background-size: cover;
    background-size: cover;
    
    
    background-repeat: no-repeat;
    background-attachment: fixed;

    
  
    
  

  }

